# HOUSE DAMAGE PREDICTION

## 1) Problem Statement
> This project

## 2) Data Collection
> Dataset Source
> The dataset consist of n columns and n rows

### 2.1 Import Data and Required Packages
**Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Library**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

**Import the CSV Data as Pandas DataFrame**

In [4]:
df_features = pd.read_csv("data/train_values.csv")
df_labels = pd.read_csv("data/train_labels.csv")

**Show Top 5 Records**

In [22]:
df_features.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

**Merging `features` and `labels` csv files**

In [8]:
df = pd.merge(df_features, df_labels, on='building_id')

In [9]:
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3

**Shape of the dataset**

In [10]:
df.shape

(260601, 40)

### 2.2 Dataset information
> Fill out the datset information
## LEFT

## 3. Data Checks to perform

* Check missing values
* Check duplicates
* Check data type
* Check the number of unique values of each column
* Check statistics of the data set
* Check various categories present in the different categorical column

### 3.1 Check Missing Values

In [11]:
df.isna().sum()

building_id                               0
geo_level_1_id                            0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
foundation_type                           0
roof_type                                 0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
damage_grade                              0
dtype: int64

**There are no missing values in the data set.**

### 3.2 Check Duplicates

In [13]:
df.duplicated().sum()

0

**There are no duplicates values in the data set**

### 3.3 Check data types

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
 39  damage_grade                            260601 non-null  int64
dtypes: int64(32), object(8)
memory usage: 81.5+ MB

### 3.4 Checking the number of unique values of each column

In [15]:
df.nunique()

building_id                               260601
geo_level_1_id                                31
geo_level_2_id                              1414
geo_level_3_id                             11595
count_floors_pre_eq                            9
age                                           42
area_percentage                               84
height_percentage                             27
land_surface_condition                         3
foundation_type                                5
roof_type                                      3
ground_floor_type                              5
other_floor_type                               4
position                                       4
plan_configuration                            10
has_superstructure_adobe_mud                   2
has_superstructure_mud_mortar_stone            2
has_superstructure_stone_flag                  2
has_superstructure_cement_mortar_stone         2
has_superstructure_mud_mortar_brick            2
has_superstructure_cement_mortar_brick         2
has_superstructure_timber                      2
has_superstructure_bamboo                      2
has_superstructure_rc_non_engineered           2
has_superstructure_rc_engineered               2
has_superstructure_other                       2
legal_ownership_status                         4
count_families                                10
has_secondary_use                              2
has_secondary_use_agriculture                  2
has_secondary_use_hotel                        2
has_secondary_use_rental                       2
has_secondary_use_institution                  2
has_secondary_use_school                       2
has_secondary_use_industry                     2
has_secondary_use_health_post                  2
has_secondary_use_gov_office                   2
has_secondary_use_use_police                   2
has_secondary_use_other                        2
damage_grade                                   3
dtype: int64

### 3.5 Check statistics of data set

In [19]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
building_id,260601.0,525675.482773,304544.999032,4.0,261190.0,525757.0,789762.0,1052934.0
geo_level_1_id,260601.0,13.900353,8.033617,0.0,7.0,12.0,21.0,30.0
geo_level_2_id,260601.0,701.074685,412.710734,0.0,350.0,702.0,1050.0,1427.0
geo_level_3_id,260601.0,6257.876148,3646.369645,0.0,3073.0,6270.0,9412.0,12567.0
count_floors_pre_eq,260601.0,2.129723,0.727665,1.0,2.0,2.0,2.0,9.0
age,260601.0,26.535029,73.565937,0.0,10.0,15.0,30.0,995.0
area_percentage,260601.0,8.018051,4.392231,1.0,5.0,7.0,9.0,100.0
height_percentage,260601.0,5.434365,1.918418,2.0,4.0,5.0,6.0,32.0
has_superstructure_adobe_mud,260601.0,0.088645,0.284231,0.0,0.0,0.0,0.0,1.0
has_superstructure_mud_mortar_stone,260601.0,0.761935,0.425900,0.0,1.0,1.0,1.0,1.0
has_superstructure_stone_flag,260601.0,0.034332,0.182081,0.0,0.0,0.0,0.0,1.0
has_superstructure_cement_mortar_stone,260601.0,0.018235,0.133800,0.0,0.0,0.0,0.0,1.0
has_superstructure_mud_mortar_brick,260601.0,0.068154,0.252010,0.0,0.0,0.0,0.0,1.0
has_superstructure_cement_mortar_brick,260601.0,0.075268,0.263824,0.0,0.0,0.0,0.0,1.0
has_superstructure_timber,260601.0,0.254988,0.435855,0.0,0.0,0.0,1.0,1.0
has_superstructure_bamboo,260601.0,0.085011,0.278899,0.0,0.0,0.0,0.0,1.0
has_superstructure_rc_non_engineered,260601.0,0.042590,0.201931,0.0,0.0,0.0,0.0,1.0
has_superstructure_rc_engineered,260601.0,0.015859,0.124932,0.0,0.0,0.0,0.0,1.0
has_superstructure_other,260601.0,0.014985,0.121491,0.0,0.0,0.0,0.0,1.0
count_families,260601.0,0.983949,0.418389,0.0,1.0,1.0,1.0,9.0
has_secondary_use,260601.0,0.111880,0.315219,0.0,0.0,0.0,0.0,1.0
has_secondary_use_agriculture,260601.0,0.064378,0.245426,0.0,0.0,0.0,0.0,1.0
has_secondary_use_hotel,260601.0,0.033626,0.180265,0.0,0.0,0.0,0.0,1.0
has_secondary_use_rental,260601.0,0.008101,0.089638,0.0,0.0,0.0,0.0,1.0
has_secondary_use_institution,260601.0,0.000940,0.030647,0.0,0.0,0.0,0.0,1.0
has_secondary_use_school,260601.0,0.000361,0.018989,0.0,0.0,0.0,0.0,1.0
has_secondary_use_industry,260601.0,0.001071,0.032703,0.0,0.0,0.0,0.0,1.0
has_secondary_use_health_post,260601.0,0.000188,0.013711,0.0,0.0,0.0,0.0,1.0
has_secondary_use_gov_office,260601.0,0.000146,0.012075,0.0,0.0,0.0,0.0,1.0
has_secondary_use_use_police,260601.0,0.000088,0.009394,0.0,0.0,0.0,0.0,1.0
has_secondary_use_other,260601.0,0.005119,0.071364,0.0,0.0,0.0,0.0,1.0
damage_grade,260601.0,2.238272,0.611814,1.0,2.0,2.0,3.0,3.0

**Insight:**

* 
*
## TODO: LEFT

### 3.7 Exploring Data

In [20]:
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3

## 4. Exploring Data (Visualization)

### LEFT